
		html, body {
		  margin: 0 10px;
		  scroll-behavior: smooth;
		}
		.ui.form textarea:not([rows]) {
			font-family: none;
			font-weight: 600;
			font-size: 1em !important;
		}
		
		
		.ui.form .fields {
			border-bottom: 2px solid #000000;
			padding-bottom: 10px;
		}
		
		.ui.form input:not([number]){
			width: 50px;
			padding: 1px 0 1px 5px;
			margin-bottom:5px;
		}
		

		.bottom-divider {
			border-bottom: 2px solid #000000;
			padding-bottom: 20px;
		}
		
		.file-input-entry {
			margin-bottom: 10px;
		}
		
		.ui.form select {
			width: 80%;
			}
			
		td {
			vertical-align: top;
			padding-right:50px;
			width:50%;
			}

	
		* {
			margin: 0;
			padding: 0;
		}

		body{
			font-family: arial;
		}

		.section {
			margin: 10px 0;
		}

		.sub-section {
			clear: both;
			margin-bottom: 1px;
		}

		.section,
		.sub-section {
			width: 100%;
		}

		.column {
			float: left;
		}

		.column-center {
			min-width: 160px;
			text-align: center;
		}

		.column-right {
			float: right;
		}

		.sub-section-title {
			margin: 0 0 10px;
		}

		p {
			margin: 20px 0;
		}

		.table {
			display: table;
			margin: 10px 0 0;
			width: 100%;
		}

		
		.table-row {
			display: table-row;
			width: 100%;
		}

		.table-cell {
			display: table-cell;
			padding: 5px 0;
		}

		.table-cell:first-child {
			width: 17%;
		}

		.table-cell:last-child {
			width: 70%;
		}

		.table-cell:first-child label {
			font-weight: bold;
		}

		.table-cell:last-child label {
			margin-right: 10px;
		}

		.nested-table {
			margin: 0;
		}

		.nested-table .table-cell {
			color: #666;
			font-size: .9em;
			width: 200px;
		}

		#format-caption-container div {
			color: #a19e08;
			display: none;
			font-size: .9em;
			line-height: 1.4em;
			padding: 10px 0 15px;
			width: 100%;
		}

		.byte-input {
			min-height: 160px;
			min-width: 360px;
		}

		.code-output {
			height: 200px;
			width: 100%;
			margin-top:10px
		}

		.note {
			color: #666666;
			font-size: .9em;
			line-height: 1.4em;
			margin: 3px 0;
		}



		.ui.tiny.red.button {
			margin: 0 0 0 10px;
			padding: 4px 6px;
			font-size: unset;
		}

		.file-info {
			max-width: 300px;
			white-space: pre;
		}


		.glyph-input {
			width: 85px;
			margin-left: 10px;
			padding-left: 5px;
		}
		

		#image-size-settings {
			list-style-type: none;
		}

		#image-size-settings li {
			margin: 4px 0;
		}

		#images-canvas-container canvas {
			border: 2px solid red;
			/* margin: 10px 15px; */
		}

		#images-canvas-container {
			align-items: flex-start;
			display: flex;
			flex-wrap: wrap;
		}

		#arduino-identifier,
		#adafruit-gfx-settings,
		#all-same-size {
			display: none;
		}

		.msg {
			font-size: 1.2em;
		}

		.error-msg {
			color: #ff0000;
			display: none;
		}

		h1{
			padding: 10px;
			color: white;
			background-color: #00cb99;
		}
		
		.ui.labeled.input>.label:not(.corner) {
			padding-top: 5px;
			padding-bottom: 5px;
		}
		
		.canvasBag {
			margin: 0 10px 10px 0;
			border: 2px solid green;
			padding: 10px;
			background-color: black;
		}
